<form method="get" action="/quizes">

	<h3>Buscador de Preguntas:</h3>
	<p>
	<select name="temasearch">
		<option value="todos" selected>TODOS</option>
  		<option value="otro">Otro</option>
  		<option value="humanidades">Humanidades</option>
  		<option value="ocio">Ocio</option>
  		<option value="ciencia">Ciencia</option>
  		<option value="tecnologia">Tecnología</option>
	</select>
	<input type="text" name="search" />
	<input type="submit" value="Buscar">
</form>
<br>

<h3>Listado de Preguntas:</h3>
<table id="listapreguntas">
	<tr>
		<th>Tema</th>
		<th>Pregunta</th>
		<th colspan="2">Acciones</th>
	</tr>
	<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr>
		<td><%= quizes[i].tema %></td>
		<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
		<td>
			<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
				borrar
				</button>
			</form>
		</td>
	</tr>
	<% } %>
</table><p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
